<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CambioMenu</servlet-name>
        <servlet-class>servlets.CambioMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IMC</servlet-name>
        <servlet-class>servlets.IMC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TMB</servlet-name>
        <servlet-class>servlets.TMB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroExpediente</servlet-name>
        <servlet-class>servlets.RegistroExpediente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cita</servlet-name>
        <servlet-class>servlets.Cita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EstablecerComida</servlet-name>
        <servlet-class>servlets.EstablecerComida</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CambioMenu</servlet-name>
        <url-pattern>/CambioMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IMC</servlet-name>
        <url-pattern>/IMC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TMB</servlet-name>
        <url-pattern>/TMB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroExpediente</servlet-name>
        <url-pattern>/RegistroExpediente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cita</servlet-name>
        <url-pattern>/Cita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EstablecerComida</servlet-name>
        <url-pattern>/EstablecerComida</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
